p {
    text-align: center;
}

#para1 {
    text-align: center;
}

.center {
    text-align: center;
}

body {
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50;
}

h1 {
    color: black;
    text-align: center;
}

.about {
    background: linear-gradient(white, gray);
    font-weight: bold;
    color: black;
    margin: 50;
}

.skills {
    background: linear-gradient(white, gray);
    font-weight: normal;
}

.projects {
    text-emphasis-color: white;
    background: rgb(0, 0, 0);
    padding: 25;
    margin: 50;

}

.contact {
    text-align: center;
    background: linear-gradient(white, gray);
    border: black;
    margin: 50px;
}