p {
    text-align: center;
}

#para1 {
    text-align: center;
}

.center {
    text-align: center;
}

body {
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50;
}

h1 {
    color: black;
    text-align: center;
}

h1:hover{
    color:white;
    text-decoration: over underline;
    text-underline-offset: 5px;

.about {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content:center;
    background: linear-gradient(white, gray);
    font-weight: bold;
    color: black;
    margin: 50;
}

.about img{
    width:150px;
    height:200px;
    border-radius:25%;
    border: 2px solid rbg(126,14,201);
}

.about p {
    width:50%;
    text-align:center;
    margin:auto;
    line-height:125%;
}

.skills {
    background: linear-gradient(white, gray);
    font-weight: normal;
}

.projects {
    display:flex;
    flex-wrap:wrap;
    text-emphasis-color: white;
    background: rgb(123, 123, 123);
    padding: 20px 10px;
    margin: 10;
    border-radius:25%
}

.project{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rbg(126,14,201);
    display:block;
    margin:auto;
}

a{
    text-decoration:none;
    color:purple;
}

.project p{
    text-align:center;
    margin:15px;
}
    
.contact {
    text-align: center;
    background: linear-gradient(white, gray);
    border: black;
    margin: 50px;
}
